@charset "utf-8";
body, html, h1, h2, h3, p, hr, td, table{
    margin: 0;
    padding: 0;
}

body{
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    color:#5f5f5f;
}

select{
    border-radius: 3px;
    background-color: #f4f4f4;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    height: 2em;
    width: 4em;
    border-style: none;
    margin-right: 1em;
    color: #646464;
}

ul{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    background-color: #ebebeb;
    padding-bottom: 1px;
}

.content-wrapper{
    width: 100%;
    background-color: white;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.top-bar {
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    margin-bottom: 1em;
    position: fixed;
    z-index: 100;
    padding: 11px 0;
}

.top-bar > *{
    vertical-align: middle;
}

.top-title {
    color: #72b3d8;
    text-align: center;
    font-size: 14px;
}

.top-image {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    transition: all 0.2s
}

.top-image img{
    height: auto;
    width: 65%;
}

.top-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 14px;
    z-index: 100;
    width: 14px;
    transition: all 0.2s
}

.top-close img, .top-share img{
    width: 100%;
    height: auto;
}

.top-share{
    position: absolute;
    right: 42px;
    top: 0;
    padding: 10px 14px;
    z-index: 100;
    width: 14px;
    transition: all 0.2s
}

.top-button{
    width: 10%;
}

.top-button img{
    width: 50%;
    height: auto;
    cursor: pointer;
}

.top-info img{
    height: 1em;
    width: auto;
}

.top-item{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 30%;
    background-color: lightgrey;
    padding: 0 1em;
}

.top-item img{
    width: 100%;
    height: auto;
}

.top-content-margin{
    height: 3em;
}

.header-content{
    position: relative;
    width: inherit;
    height: 200px;
    margin-bottom: 0.5em;
    overflow: hidden;
}
.header-content img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.head-desc{;
    font-size: 0.8em;
    padding: 10px;
}

.head-desc h1{
    font-size: 0.9em;
}

.head-desc p{
    font-size: 12px;
}

.header-content2 {
    background: white;
    width: 95%;
    color: #717276;
    margin: 10px auto;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.1);
    border: 2px solid #d2d2d2;
    border-radius: 3px;
    position: relative;
}

.bookmark-icon{
    position: absolute;
    top: 3px;
    right: 5px;
    width: 30px;
    height: auto;
}
.bookmark-icon img{
    width: 100%;
    height: auto;
}
.bookmark-icon-home {
    position: absolute;
    top: 2%;
    right: 8%;
    height: auto;
    width: 15%;
    z-index: 10;
}
.bookmark-icon-home img {
    width: 100%;
    height: auto;
}

.header-content2 img{
    width:100%;
    height: auto;
    display: block;
}

.head-footleft {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 5px;
    font-size: 0.7em;
}

.head-footright {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: right;
    width: 50%;
    float: right;
    vertical-align: 20px;
    margin-top: 5px;
    padding: 5px;
    padding-right: 10px;
    font-size: 0.7em;
}

.head-footright img{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.header-text{
    position: absolute;
    bottom: 1em;
    right: 1em;
    left: 1em;
    padding: 0.5em;
    background-color: rgba(255,255,255,0.8);
    color: #5f5f5f;
}

.header-text h1{
    font-size: 1em;
}

.header-text h3{
    font-size: 0.8em;
}

.tiled-content{
    width: inherit;
    margin-bottom: 0.5em;
}

.tiled-content hr{
    border: none;
    border-top: 0.1em dashed #d2d2d2;
    width: 98%;
    margin: 0 auto;
}

/*健啖G*/

.tiled-left, .tiled-right{
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.tiled-left{
    float: left;
}
.tiled-right{
    float: right;
}

.left-inner{
    background-color: white;
    border: 2px solid #d2d2d2;
    border-radius: 5px;
    width: auto;
    height: 100%;
    margin: 0 0.25em 0 0.5em;
}

.thumb{
    width: 100%;
    position: relative;
}

.thumb:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: linear-gradient(rgba(1,1,1,0), rgba(1,1,1,0), rgba(0,0,0,0.5));
    z-index: 5;
}

.thumb-image{
    position: relative;
    overflow: hidden;
    height: 90px;
    z-index: 4;
}

.thumb-image img{
    width: 100%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.thumb-desc{
    position: absolute;
    bottom: 0;left: 0;
    font-size: 0.7em;
    padding-left: 5px;
    padding-bottom: 5px;
    z-index: 10;
}

.thumb-desc p{
    color:white;
    text-shadow: 0px 2px 10px rgba(150, 150, 150, 1);
}

.right-inner{
    background-color: white;
    border: 2px solid #d2d2d2;
    border-radius: 5px;
    width: auto;
    height: 100%;
    margin: 0 0.5em 0 0.25em;
}

.right-inner img{
    display: block;
}

.coupon-title{
    padding: 10px;
    position: relative;
    color: #5f5f5f;
}

.coupon-title h3{
    font-size: 0.7em;
    line-height: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.coupon-price{
    vertical-align: 20px;
    margin-top: 5px;
}

.coupon-price p{
    font-size: 10px;
    margin-top: 5px;
}

.coupon-price img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.coupon-map{
    font-size: 12px;
    color: #5f5f5f;
    padding: 5px 0;
}

.coupon-map img{
    width: 10px;
    height: 14px;
    margin-left: 10px;
}

.button-more{
    width: inherit;
    background-color: #7fc5ed;
    padding: 1em 0;
    margin-bottom: 50px;
}

.button-more p{
    font-size: 1em;
    text-align: center;
    color: white;
}

.orange-button {
    width: 95%;
    margin: 0 auto 20px auto;
    padding: 1em 0;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(#e3d2a8, #bca16b);
    border-radius: 3px;
    color: white;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.footer{
    background-color: #ebebeb;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    padding: 10px 0;
}

.footer-item{
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin-left: 4%;
    text-align: center;
}

.footer-item img{
    vertical-align: top;
    height: 100%;
    width: auto;
}

/*medium screens, width bigger than 641px　以上　*/
@media only screen and (min-width: 40.063em) {


    .button-more p{
        font-size: 2em;
    }
}

.slider {
    width: 100%;
}

.desc-text {
    color: #5f5f5f;
    padding: 20px 12px;
    width: 100%;
    font-size: 0.8em;
    text-align: justify;
    box-sizing: border-box;
}

.store-details {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    color: #646464;
}

.store-details td {
    border-bottom: 2px solid #e8e8e8;
    padding: 10px 0;
    font-size: 0.75em;
    text-align: justify;
}

.login-helper{
    width: 95%;
    margin: 0 auto 30px auto;
}

.login-helper td{
    border-style: none;
}

.table-comment {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

#profpic {
    display: inline-block;
    float: left;
    clear: left;
    height: 100%;
    width: auto;
    box-sizing: border-box;
}
.comment-wrapper {
    width: 95%;
    height: 40px;
    margin: 0 auto 30px auto;
    padding-top: 16px;
}

.comment-entrywrapper {
    width: 95%;
    margin: 0 auto 20px auto;
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.comment-display{
    height: auto;
    opacity: 1;
    visibility: visible;
}

.input-comment {
    display: inline-block;
    float: right;
    clear: right;
    width: 85%;
    height: 95%;
    padding-left: 3%;
    padding-bottom: 0;
    padding-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
    color: #a7a7a7;
    background-color: #f6f6f6;
    border-radius: 3px;
    border-style: none;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#comment-write{
    clear: right;
    width: 100%;
    height: 95%;
    resize: none;
    padding-left: 3%;
    padding-bottom: 0;
    padding-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
    color: #a7a7a7;
    background-color: #f6f6f6;
    border-radius: 3px;
    border-style: none;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 10px 0px rgba(0,0,0,0.3);
}

.comment-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    transition: all 0.3s;
    z-index: -1;
    opacity: 0
}
.comment-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #EAEAEA;
    border: 5px solid #84bae4;
    border-radius: 6px;
    text-align: center;
    transition: all 0.3s;
    z-index: -1;
    opacity: 0;
}
.comment-modal img{
    width: 70%;
}
.comment-modal > p:nth-child(2) {
    margin-bottom: 7px;
    box-sizing: border-box;
}
.modal-close {
    position: absolute;
    right: -30px;
    top: -30px;
    background-color: #84BAE4;
    border: 2px solid white;
    border-radius: 20px;
    width: 42px;
    margin: 0 auto;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
}
.modal-close > p {
    color: white;
    font-size: 20px;
}
.share-images{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#gray-line {
    height: 3px;
    border: 0;
    color: #e4e4e4;
    background-color: #e4e4e4;
    width: 95%;
    margin: 0 auto 20px auto;
}

#gray-thin {
    height: 1px;
    border: 0;
    color: #e4e4e4;
    background-color: #e4e4e4;
    width: 95%;
    margin: 0 auto 20px auto;
}

.width-wrap {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
    color:#5f5f5f;
}

.green-square {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: #72b3d8;
    background-color: #72b3d8;
    margin-right: 10px;
    border-radius: 2px;
}

.green-title {
    font-size: 1em;
    font-weight: bold;
}

.green-title p{
    color: #72b3d8;
}

.osusume-content {
    display: inline-block;
    vertical-align: top;
    width: 30.66666667%;
    margin-left: 4%;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #333333;
}
.osusume-content:first-child{
    margin-left: 0;
}

.img-tenpo {
    width: 100%;
    height: auto;
    
}

.img-kiji {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.text-kiji {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding-left: 5%;
    font-size: 0.8rem;
}

.thumb-kiji {
    width: 100%;
    height: auto;
}

.big-margin {
    margin-bottom: 100px;
}


.title-bluebox {
    background-color: #84bae4;
    padding: 5px 5px;
    color: white;
}
.form-lightbox {
    background-color: #d2eefe;
    text-align:center;
    font-weight: bold;
    color: #3d7899;
    padding: 5px 5px;
}
.blue-button {
    width: 60%;
    background:linear-gradient(#f3faff,#e0eefa);
    padding: 10px 0;
    margin: 1em auto;
    text-align: center;
    color: #3d7899;
    font-weight: bold;
    border: 2px solid #cee2f2;
    border-radius: 3px;
}

.blue-button img{
    width: 10%;
    height: auto;
    margin-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.thanks-block {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 50%;
    font-size: 0.9em;
    text-align: justify;
    color: #5f5f5f;
}

.thanks-wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
}

.thanks-wrapper img{
    width: 100%;
    height: auto;
}

.my-menu-wrapper{
    padding-top: 4px;
    background-color: #ebebeb;
    color: #646464;
}
.menu-item, .menu-announce{
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 7px;
    box-sizing: border-box;
}
.menu-item{
    width: 29.333333%;
    margin-left: 3%;
    margin-bottom: 16px;
    float: left;
    padding: 6px 4px 4px 4px;
    font-size: 14px;
    height: 65px;
}
.menu-item:last-child{
    font-size: 12px;
}
.menu-announce {
    width: 94%;
    padding: 8px;
    font-size: 14px;
    margin: 0 auto 10px auto;
}

.mypage-item{
    width: 100%;
    margin: 0 auto;
    color: #646464;
    padding: 4px;
    box-sizing: border-box;
}

.mypage-item p, .mypage-item img{
    display:inline;
}

.mypage-item img {
    float: right;
    margin-right: 16px;
    width: 6px;
    height: auto;
    position: relative;
    top: 7px;
}

.mypage-item p{
    margin-left: 12px;
    font-size: 12px;
}

.mypage-item-a:active .mypage-item{
    background-color: #e4e4e4;
}

.gray-line-full{
    margin: 0;
    border: 1px solid #e4e4e4;
}

.user-button{
    background-color: #72b3d8;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    width: 50%;
    text-align: center;
    color: white;
    margin-right: 0;
    margin-left: auto;
}

.user-button ul li{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    padding: 6px;
    cursor: pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

.push-active{
    background-color: #f5f5f5;
    color: #646464;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s;
}

.user-button p{
    padding: 6px;
    color: white
}

.logout{
    margin-right: 0;
    margin-left: auto;
    margin-top: 28px;
    text-align: right;
}

.logout img{
    vertical-align: middle;
}

.logout span{
    color: #00a2ff;
    font-weight: bold;
}

.arrow_box {
    position: relative;
    background: white;
    border-bottom: 2px solid #72b3d8;
    width: 95%;
    margin: 0 auto 20px auto;
    color: #72b3d8;
}

.arrow_box img{
    width: 100%;
    height: auto;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: white;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #72b3d8;
    border-width: 13px;
    margin-left: -13px;
}

.reply-wrapper{
    width: 95%;
    margin: 24px auto;
    color: #5f5f5f;
}

.reply-number, .reply-nickname{
    font-size: 14px;
    font-weight: bold;
}

.reply-date, .reply-time{
    font-size: 10px;
}

.reply-content{
    margin: 16px auto;
    text-align: justify;
    font-size: 14px;
}

.reply-share{
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    color: #72B3D8;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    transition: all 0.1s;
}

/*FOR ANIMATION*/
.reply-noshadow{
    box-shadow: 0 0 0 0 #fff;
}

.reply-report{
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #19acff;
    padding-right: 10px;
    padding-top: 5px;
}

.reply-share img{
    width: 10%;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.block-wrapper{
    width: 95%;
    margin: 14px auto;
}

.content-block{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.content-flex{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.content-flex .half-width{
    width: 48%;
}

.content-text{
    padding-right: 12px;
    width: 50%;
}
.blue-arrow {
    position: relative;
    width: 95%;
    margin: 30px auto 80px auto;
}

.blue-arrow img{
    width: 100%;
    height: auto;
}
.blue-arrow:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
    right: 0;
    margin: 0 auto;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 20px solid #aad4f4;
	border-right: 60px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 60px solid transparent;
}

.login{
    padding: 15px;
    font-size: 14px;
    background-color: white;
}
.login-margin {
    width: 96%;
    margin: 4px auto;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
}

.login input[type=text], .login input[type=password]{
    clear: right;
    width: 100%;
    height: 95%;
    resize: none;
    padding: 0.5em;
    margin-bottom: 2px;
    font-size: 1em;
    color: #a7a7a7;
    background-color: #f6f6f6;
    border-radius: 3px;
    border-style: none;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.copyright{
    background-color: #ebebeb;
    color:#aaaaaa;
    font-size: 10px;
    text-align: center;
    padding: 16px;
}

.required{
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 5px;
    margin-left: 6px;
    font-size: 10px;
}

.spacing-section{
    margin:20px auto;
}

.align-right{
    width: 100%;
    text-align: right;
}

.align-right p{
    margin-right: 14px;
    color: #00a2ff;
}

.coupon-link{
    text-align:right;
    width:95%;
    margin:5px auto;
    color:#19acff;
    font-size: 12px;
}

.map-kanto{
    width: 100%;
    height: auto;
}

.map-stack{
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: all 0.2s;
}

.map-stack img{
    width: 100%;
    height: auto;
}

.map-wrapper{
    width: 100%;
    background-color: white;
    position: relative;
    /*disable link highlight on mobile tap*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.map-select{
    position: absolute;
}

.map-select:before{
    content:"";
    display: block;
    padding-top: 100%;
}

.map-box1{
    width: 30%;
    top:0%;
    left: 13%;
    transform: skewX(-15deg);
}
.map-box1:before{
    padding-top: 60%;
}
.map-box2{
    width: 30%;
    top:0%;
    left:45%;
    transform: skewX(-15deg);
}
.map-box2:before{
    padding-top: 60%;
}
.map-box3{
    width: 18%;
    top:0%;
    left:75%;
    transform: skewX(-15deg);
}
.map-box3:before{
    padding-top: 175%;
}
.map-box4 {
    width: 18%;
    top: 47%;
    left: 66%;
    transform: skewX(-15deg);
}
.map-box4:before{
    padding-top: 195%
}
.map-box5 {
    width: 45%;
    top: 27%;
    left: 26%;
    transform: skewX(-15deg);
}
.map-box5:before{
    padding-top: 28%;
}
.map-box6 {
    width: 45%;
    top: 47%;
    left: 22%;
    transform: skewX(-15deg);
}
.map-box6:before{
    padding-top: 28%;
}
.map-box7 {
    width: 38%;
    top: 66%;
    left: 6%;
    transform: skewX(-15deg);
}
.map-box7:before{
    padding-top: 40%;
}

.search-bar{
    width: 100%;
    background-color: white;
    padding-bottom: 2%;
    padding-top: 2%;
    box-sizing: border-box;
    position: relative;
}

.search-bar img{
    display: block;
    position: absolute;
    width: 7%;
    top: 23%;
    left: 39%;
    opacity: 1;
}

.search-bar input{
    background-color: #f0f0f0;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 95%;
    padding-bottom: 2%;
    padding-top: 2%;
    border: 0px solid white;
    text-align: center;
    color: #8d8d8d;
    box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
}

.search-bar input:focus + img{
    opacity: 0;
}

/*アニメション*/
@keyframes bookmark{
    0%{
        transform: scale(1);
        opacity:1;
    }
    100%{
        transform: scale(10);
        opacity: 0;
    }
}