@charset "utf-8";
body, html, h1, h2, h3, p, hr, td, table{
    margin: 0;
    padding: 0;
}

body{
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

select{
    border-radius: 3px;
    background-color: #f4f4f4;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    height: 2em;
    width: 4em;
    border-style: none;
    margin-right: 1em;
    color: #646464;
}

.wrapper{
width: 100%;
background-color: white;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.top-bar{
    background-color: #f6fcff;
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    margin-bottom: 1em;
    position: fixed;
    padding: 0.5em 0;
    z-index: 100;
}

.top-content{
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    font-size: 0.8em;
}

.top-content img{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.top-info img{
    height: 1em;
    width: auto;
}

.header-content{
    position: relative;
    background-color: pink;
    background: url(../img/header-collage.png) no-repeat;
    background-position: center center;
    background-size: cover;
    width: inherit;
    height: 300px;
    margin-bottom: 0.5em;
}

.head-desc{;
    font-size: 0.8em;
    margin-bottom: 1em;
    padding: 10px;
}

.header-content2{
    background: #f1f5fe;
    width: 95%;
    color: #717276;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.31);
    box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.31);
}

.header-content2 img{
    width:100%;
    height: auto;
    display: block;
}

.head-footleft{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 5px;
    font-size: 0.8em;
}

.head-footright{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: right;
    width: 50%;
    float: right;
    vertical-align: 20px;
    margin-top: 5px;
    padding: 5px;
    font-size: 0.8em;
}

.head-footright img{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.header-text{
    position: absolute;
    bottom: 1em;
    right: 1em;
    left: 1em;
    padding: 0.5em;
    background-color: rgba(255,255,255,0.8);
    color: #5f5f5f;
}

.header-text h1{
    font-size: 1em;
}

.header-text h3{
    font-size: 0.8em;
}

.tiled-content{
    width: inherit;
    margin-bottom: 0.5em;
}

.tiled-content hr{
    border: none;
    border-top: 0.1em dashed #d2d2d2;
    width: 98%;
    margin: 0 auto;
}

.tiled-left{
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tiled-right{
    float: right;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.left-inner{
    background-color: white;
    border: 2px solid #d2d2d2;
    border-radius: 5px;
    width: auto;
    height: 100%;
    margin: 0 0.25em 0 0.5em;
}

.thumb{
    width: 100%;
    position: relative;
}

.thumb:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: rgba(0,0,0,0.3);
}

.thumb-desc{
    position: absolute;
    bottom: 0;left: 0;
    color: white;
    font-size: 0.7em;
    padding-left: 5px;
    padding-bottom: 5px;
}

.thumb img{
    display: block;
    width: 100%;
}

.right-inner{
    background-color: white;
    border: 2px solid #d2d2d2;
    border-radius: 5px;
    width: auto;
    height: 100%;
    margin: 0 0.5em 0 0.25em;
}

.right-inner img{
    display: block;
}

.coupon-title{
    padding: 10px;
    position: relative;
    color: #5f5f5f;
}

.coupon-title h3{
    font-size: 0.7em;
    line-height: 120%;
}

.coupon-price{
    vertical-align: 20px;
    margin-top: 5px;
}

.coupon-price p{
    font-size: 0.8em;
    margin-top: 5px;
}

.coupon-price img{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.coupon-map{
    font-size: 0.9em;
    color: #5f5f5f;
    padding: 5px 0;
}

.coupon-map img{
    width: 10px;
    height: 14px;
    margin-left: 10px;
}

.button-more{
    width: inherit;
    background-color: #7fc5ed;
    padding: 1em 0;
    margin-bottom: 2em;
}

.button-more p{
    font-size: 1em;
    text-align: center;
    color: white;
}

.orange-button{
    width: 95%;
    margin: 0 auto 30px auto;
    padding: 1em 0;
    text-align: center;
    background-color: #ff5940;
    border-radius: 3px;
    color: white;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
}

.footer{
    width: 100%;
    max-width: 960px;
    background-color: #f3f3f3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 100;
}

.footer-wrap{
    width: 100%;
    margin: 1% auto 0 auto;
    box-sizing: border-box;
    text-align: center;
    padding: 0.3em 0;
}

.footer-item{
    display: inline-block;
    width: 22%;
}

.footer-item img{
    vertical-align: bottom;
    width: 40%;
    height: 40%;
}

/*medium screens, width bigger than 641px　以上　*/
@media only screen and (min-width: 40.063em) {


    .button-more p{
        font-size: 2em;
    }
}

.slider {
    width: 100%;
}

.desc-text {
    color: #5f5f5f;
    padding: 5px;
    width: 95%;
    margin: 0 auto 1em auto;
    font-size: 0.9em;
    text-align: justify;
    box-sizing: border-box;
}

.store-details {
    width: 95%;
    margin: 0 auto 30px auto;
    border-collapse: collapse;
    color: #646464;
}

.store-details td{
    border-bottom: 2px solid #e8e8e8;
    padding: 20px 0;
    font-size: 0.9em;
    text-align: justify;
}



.table-comment {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

#profpic {
    display: inline-block;
    float: left;
    clear: left;
    height: 100%;
    width: auto;
    box-sizing: border-box;
}
.comment-wrapper {
    width: 95%;
    height: 40px;
    margin: 0 auto 30px auto;
}

.comment-entrywrapper {
    width: 95%;
    margin: 0 auto 20px auto;
    opacity: 0;
    height: 0;
    transition: all 0.5s;
}

.comment-display{
    height: auto;
    opacity: 1;
}

#choose-image{
    margin-right: 1em;
    padding: 0.3em 2em;
    border-radius: 3px;
    border: 1px solid #5f5f5f;
    color: #5f5f5f;
}

#input-comment {
    display: inline-block;
    float: right;
    clear: right;
    width: 85%;
    height: 95%;
    padding-left: 3%;
    padding-bottom: 0;
    padding-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
    color: #a7a7a7;
    background-color: #f6f6f6;
    border-radius: 3px;
    border-style: none;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#comment-write{
    clear: right;
    width: 100%;
    height: 95%;
    resize: none;
    padding-left: 3%;
    padding-bottom: 0;
    padding-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
    color: #a7a7a7;
    background-color: #f6f6f6;
    border-radius: 3px;
    border-style: none;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 10px 0px rgba(0,0,0,0.3);
}

#gray-line {
    height: 3px;
    border: 0;
    color: #e4e4e4;
    background-color: #e4e4e4;
    width: 95%;
    margin: 0 auto 20px auto;
}

#gray-thin {
    height: 1px;
    border: 0;
    color: #e4e4e4;
    background-color: #e4e4e4;
    width: 95%;
    margin: 0 auto 20px auto;
}

.width-wrap {
    width: 95%;
    margin: 0 auto 20px auto;
}

.green-square {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: #3d8d99;
    background-color: #3d8d99;
    margin-right: 10px;
    border-radius: 2px;
}

.green-title {
    color: #3d8d99;
    font-size: 1em;
    font-weight: bold;
}

.osusume-content {
    display: inline-block;
    vertical-align: top;
    width: 30.66666667%;
    margin-left: 4%;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #333333;
}
.osusume-content:first-child{
    margin-left: 0;
}

.img-tenpo {
    width: 100%;
    height: auto;
    
}

.img-kiji {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.text-kiji {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding-left: 5%;
    font-size: 0.8rem;
}

.thumb-kiji {
    width: 100%;
    height: auto;
}

.big-margin {
    margin-bottom: 100px;
}


.title-bluebox {
    background-color: #3d7899;
    padding: 5px 5px;
    color: white;
    text-align: center;
}
.form-lightbox {
    background-color: #d2eefe;
    text-align:center;
    color: #646464;
    padding: 5px 5px;
}
.submit-button {
    width: 60%;
    background-color: #4caf86;
    padding: 1em 0;
    margin: 1em auto;
    text-align: center;
    color: white;
    border-radius: 3px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.red-text {
    color: #ed4f62;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    width: 95%;
    margin: 0 auto 1em auto;
}

.thanks-block {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 50%;
    font-size: 0.9em;
    text-align: justify;
    color: #5f5f5f;
}

.thanks-wrapper {
    width: 95%;
    margin: 0 auto 1em auto;
}
