<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<title>TiARY Press (ティアリィプレス）　｜　管理画面</title>
</head>

<body>

<#INCLUDE header.template#>


<div id="container">

<#INCLUDE navigation.template#>

<div class="clearfix"></div>

<!--table of content start-->
<div id="title02">店舗投稿画面</div>
<p class="border-btm"></p>

<p class="red">※ は必須項目です。</p>
<form action="" method="post"  enctype="multipart/form-data" id="add_form" name="add_form">
<table width="930" border="0" cellspacing="2" cellpadding="3" id="center">
<tr>
<td width="110" class="title-tbl02">店舗名 <span class="red">※</span></td>
<td><#PRINT shop_name#><br />
</td>
</tr>
<tr>
<td width="110" class="title-tbl02">店舗名(カナ) <span class="red">※</span></td>
<td><#PRINT shop_name_kana#><br />
</td>
</tr>

<tr>
<td class="title-tbl02">カテゴリ </td>
<td>
<#PRINT category#>
</td>
</tr>

<tr>
<td width="110" class="title-tbl02">店舗紹介文<span class="red">※</span></td>
<td><#PRINT shop_notes#><br />
</td>
</tr>

<tr>
<td class="title-tbl02" rowspan="3">住所</td>
<td><u>都道府県</u><br>
<#PRINT shop_pref#>
</td>
</tr>

<tr>

<td><u>郵便番号</u><br><#PRINT shop_zip#></td>
</tr>

<tr>

<td><u>住所</u>
<br><#PRINT shop_city#>
<br><#PRINT shop_address#></td>
</tr>
<tr>
<td class="title-tbl02" rowspan="2">アクセス</td>
<td><u>最寄り駅</u><br><#PRINT shop_eki#></td>
</tr>
<tr>
<td><u>備考</u><br><#PRINT shop_access#></td>
</tr>
<tr>
<td class="title-tbl02">電話番号</td>
<td><#PRINT shop_phone#></td>
</tr>
<tr>
<td class="title-tbl02">営業時間</td>
<td><#PRINT shop_opentime#></td>
</tr>
<tr>
<td class="title-tbl02">定休日</td>
<td><#PRINT shop_holiday#></td>
</tr>
<tr>
<td class="title-tbl02">ホームページ</td>
<td id="link"><#PRINT shop_homepage#></td>
</tr>

<tr>
<td class="title-tbl02">メールアドレス<span class="red">※</span></td>
<td id="link"><#PRINT shop_email#></td>
</tr>

<tr>
<td class="title-tbl02">価格（平均）</td>
<td id="link"><#PRINT shop_average_price#></td>
</tr>

<tr>
<td class="title-tbl02">アフィリエイトタグ</td>
<td><#PRINT shop_aff_tag#></td>
</tr>

<tr>
<td class="title-tbl02">画像 <span class="red">※</span></td>
<td><a href="<#PRINT shop_img#>" target="_blank"><img src="<#PRINT shop_img#>" width="50px"/></a>
</td>
</tr>

<tr>
<td class="title-tbl02">画像 <span class="red">※</span></td>
<td><a href="<#PRINT shop_img2#>" target="_blank"><img src="<#PRINT shop_img2#>" width="50px" /></a>
</td>
</tr>

<tr>
<td class="title-tbl02">画像 <span class="red">※</span></td>
<td><a href="<#PRINT shop_img3#>" target="_blank"><img src="<#PRINT shop_img3#>" width="50px" /></a>
</td>
</tr>

</table>

<div id="line" align="center">

<input type="button" class="space02" value="編集" onClick="document.location.href='edit-shop.php?sid=<#PRINT id#>&no=<#PRINT no#>'"/>
 &nbsp;
<a href="javascript:history.go(-1)"><input type="button" class="space02" value="もどる" /></a>
</div>

<!--end of table-->


</div>
</body>
</html>
