<!DOCTYPE html>
<html>

<head>
    <#INCLUDE ../common/meta_common.php#>

<!--SCRIPTS-->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!--BUTTON HOVER-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.orange-button').on('touchstart',function(){
                $(this).css({"background":"linear-gradient(#bca16b,#e3d2a8)"});
            });
            $('.orange-button').on('touchend',function(){
                $(this).removeAttr('style');
            });
        });
    </script>
<!--END OF BUTTON HOVER-->
<!--/SCRIPTS-->
    <title>ティアリーアプリ</title>
</head>

<body>
    <div class="wrapper">
<!--***HEADER***-->
        <#INCLUDE ../common/header.template#>
<!--/***HEADER***-->

        <div style="height:3em;"></div>
        <div class="title-bluebox">
            <strong>予約について</strong>
        </div>
        <div class="content-wrapper" style="padding-top:14px;padding-bottom:1px;">
            <div class="desc-text">
                <p><#PRINT warning#></p>
            </div>
            <div class="header-content2">
                <img src="<#PRINT coupon_pic#>" alt="banner">
                <div class="head-desc">
                    <strong><#PRINT title#></strong>
                    <p><#PRINT description#>
                    </p>
                </div>
                <div class="head-footwrap clearfix">
                    <div class="head-footleft">
                        <p>有効期限
                            <br><#PRINT exp_date_from#>~<#PRINT exp_date_until#>まで</p>
                    </div>
                    <div class="head-footright">
                        <img src="img/yen-icon.png" alt="icon" style="display:inline;">
                        <p style="display:inline;"><#PRINT before_price#>円 &#8594;<span style="color:red;font-weight:bold;"> <#PRINT after_price#>円</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-bluebox">
            <strong>来店日時を選択してください。</strong>
        </div>

        <div class="content-wrapper">

<!--FORM STARTS-->
            <form action="book-confirm.php" id="book-form" name="book-form">
            <div class="form-lightbox">
                第1希望日
            </div>
            <table class="store-details">
                <tr>
                    <td>日にち</td>
                    <td>
                        <select name="hinichi" id="hinichi">
                            <option value="" selected="selected">--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>月
                    </td>
                    <td>
                        <select name="hinichi" id="hinichi">
                            <option value="" selected="selected">--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>日
                    </td>
                </tr>
                <tr>
                    <td>時間</td>
                    <td>
                        <select name="time" id="time">
                            <option value="" selected="selected">--</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                        </select>時
                    </td>
                    <td>
                        <select name="minute" id="minute">
                            <option value="" selected="selected">--</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="60">60</option>
                        </select>分
                    </td>
                </tr>
            </table>
            <div class="form-lightbox">
                第2希望日
            </div>
            <table class="store-details">
                <tr>
                    <td>日にち</td>
                    <td>
                        <select name="hinichi" id="hinichi">
                            <option value="" selected="selected">--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>月
                    </td>
                    <td>
                        <select name="hinichi" id="hinichi">
                            <option value="" selected="selected">--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>日
                    </td>
                </tr>
                <tr>
                    <td>時間</td>
                    <td>
                        <select name="time" id="time">
                            <option value="" selected="selected">--</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                        </select>時
                    </td>
                    <td>
                        <select name="minute" id="minute">
                            <option value="" selected="selected">--</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="60">60</option>
                        </select>分
                    </td>
                </tr>
            </table>
            <div class="form-lightbox">
                第3希望日
            </div>
            <table class="store-details">
                <tr>
                    <td>日にち</td>
                    <td>
                        <select name="hinichi" id="hinichi">
                            <option value="" selected="selected">--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>月
                    </td>
                    <td>
                        <select name="hinichi" id="hinichi">
                            <option value="" selected="selected">--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>日
                    </td>
                </tr>
                <tr>
                    <td>時間</td>
                    <td>
                        <select name="time" id="time">
                            <option value="" selected="selected">--</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                        </select>時
                    </td>
                    <td>
                        <select name="minute" id="minute">
                            <option value="" selected="selected">--</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="60">60</option>
                        </select>分
                    </td>
                </tr>
            </table>
            <div class="title-bluebox">
                <strong>会員様情報</strong>
            </div>
            <table class="store-details">
                <tr>
                    <td>お名前</td>
                    <td>南ことり</td>
                </tr>
                <tr>
                    <td>電話番号</td>
                    <td>080-1234-5678</td>
                </tr>
                <tr>
                    <td>メールアドレス</td>
                    <td>mxcan25@yahoo.co.jp</td>
                </tr>
            </table>
            <div style="text-align:right;width:95%;margin:0 auto 1em auto;color:#19acff;"><a href="#"><u>会員情報を修正する</u></a></div>
            <!--<input type="submit" class="orange-button" style="border-style: none;font-size:1em;font-weight:bold;display:block;" value="送信する">-->
            <div class="orange-button" onClick="document.getElementById('book-form').submit();">送信する</div>
            </form>
<!--FORM ENDS-->

        </div>

        <div class="big-margin"></div>
    </div>


<!--***FOOTER***-->
            
<!--/***FOOTER***-->


    </div>
</body>

</html>
