<!DOCTYPE html>
<html>

<head>
    <#INCLUDE ../common/meta_common.php#>
<!--SCRIPTS-->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script>
    function send(i){
        $(document).ready(function(){
            $("#myForm").attr("action",i).submit();
        });
    }

    </script>

    <!--BUTTON HOVER-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.orange-button').on('touchstart',function(){
                $(this).css({"background":"linear-gradient(#bca16b,#e3d2a8)"});
            });
            $('.orange-button').on('touchend',function(){
                $(this).removeAttr('style');
            });
            $('.blue-button').on('touchstart',function(){
                $(this).css({"background":"linear-gradient(#e0eefa,#f3faff)"});
            });
            $('.blue-button').on('touchend',function(){
                $(this).removeAttr('style');
            });
        });
    </script>
<!--END OF BUTTON HOVER-->
<!--/SCRIPTS-->
    <title>ティアリーアプリ</title>
</head>

    <body>
    <form method="post" action="" id="myForm" name="myForm">
    
        <div class="wrapper">
<!--***HEADER***-->
        <#INCLUDE ../common/header.template#>
<!--/***HEADER***-->
            <div style="height:3em;"></div>
            <div class="title-bluebox">
                <strong>予約確認</strong>
            </div>
            <div class="content-wrapper" style="padding-top:1px;padding-bottom:1px;">
                <div class="header-content2">
                    <img src="<#PRINT coupon_pic#>" alt="banner">
                    <div class="head-desc">
                        <strong><#PRINT title#></strong>
                        <p><#PRINT description#>
                        </p>
                    </div>
                    <div class="head-footwrap clearfix">
                        <div class="head-footleft">
                            <p>有効期限
                                <br><#PRINT exp_date_from#>~<#PRINT exp_date_until#>まで</p>
                        </div>
                        <div class="head-footright">
                            <img src="img/yen-icon.png" alt="icon" style="display:inline;">
                            <p style="display:inline;"><#PRINT before_price#>円 &#8594;<span style="color:red;font-weight:bold;"> <#PRINT after_price#>円</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-lightbox">
                希望日確認
            </div>
            <div class="content-wrapper">
                <table class="store-details" style="font-size:14px;">
                    <tr>
                        <td>第1希望日時</td>
                        <td><#PRINT first_kibou#></td>
                        <td><#PRINT first_time#></td>
                    </tr>
                    <tr>
                        <td>第2希望日時</td>
                        <td><#PRINT second_kibou#></td>
                        <td><#PRINT second_time#></td>
                    </tr>
                    <tr>
                        <td>第3希望日時</td>
                        <td><#PRINT third_kibou#></td>
                        <td><#PRINT third_time#></td>
                    </tr>
                </table>
                
                <input type="hidden" name="first_kibou" value="<#PRINT first_kibou#>" />
                <input type="hidden" name="first_time" value="<#PRINT first_time#>" />
                
                <input type="hidden" name="second_kibou" value="<#PRINT second_kibou#>" />
                <input type="hidden" name="second_time" value="<#PRINT second_time#>" />
                
                <input type="hidden" name="third_kibou" value="<#PRINT third_kibou#>" />
                <input type="hidden" name="third_time" value="<#PRINT third_time#>" />
                
            </div>
            <div class="form-lightbox">
                ユーザー情報確認
            </div>
            <div class="content-wrapper" style="padding-bottom:1px;">
                <table class="store-details">
                    <tr>
                        <td>お名前</td>
                        <td><#PRINT name01#></td>
                    </tr>
                    <tr>
                        <td>フリガナ</td>
                        <td><#PRINT name02#></td>
                    </tr>
                    <tr>
                        <td>電話番号</td>
                        <td><#PRINT telephone#></td>
                    </tr>
                    <tr>
                        <td>メールアドレス</td>
                        <td><#PRINT email#></td>
                    </tr>
                </table>
                <div style="margin:20px auto;"></div>
                        <a href="#check_form" onClick="send('book-confirm.php')"><div class="orange-button">上記の内容で送信する</div></a>
                        <a href="book-form.php"><div class="blue-button"><img src="img/arrow-back.png" alt="modoru">戻る</div></a>
                        </div>
                        <div style="height:50px;"></div>
            </div>
            <input type="hidden" name="form_send" value="form_send" />
            </form>
    </body>
</html>