<!DOCTYPE html>
<html>

<head>
    <#INCLUDE ../common/meta_common.php#>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
/*BUTTON HOVER*/
            $('.orange-button').on('touchstart',function(){
                $(this).css({"background":"linear-gradient(#bca16b,#e3d2a8)"});
            });
            $('.orange-button').on('touchend',function(){
                $(this).removeAttr('style');
            });
        });
/*END OF BUTTON HOVER*/
    </script>
    <title>ティアリーアプリ</title>
</head>

    <body>
        <div class="wrapper">
<!--***HEADER***-->
        <#INCLUDE ../common/header.template#>
<!--/***HEADER***-->
            <div style="height:3em;"></div>
            <div class="title-bluebox">
                <strong>パスワード変更</strong>
            </div>
            <div class="header-content2 login">
                <p>新しいパスワードを設定して、「変更する」でお進みください。</p>

<!--FORM STARTS-->
                <form action="#" id="change-password" name="change-password">
                    <div class="spacing-section">
                        <label for="old-password"><p>変更前パスワード</p></label>
                        <input type="text" id="old-password"><br>
                    </div>
                    <div class="spacing-section">
                        <label for="new-password"><p>新パスワード</p><p style="font-size:0.8em;">6～20桁の半角英数で入力してください。
                        </p></label>
                        <input type="text" id="new-password"><br>
                    </div>
                    <div class="spacing-section">
                        <label for="confirm-password"><p>新パスワード(確認)</p><p style="font-size:0.8em;">確認のため、もう一度入力してください。
                        </p></label>
                        <input type="text" id="confirm-password"><br>
                    </div>
                    <div class="orange-button" onClick="document.getElementById('change-password').submit();">変更するする</div>
                </form>
<!--FORM ENDS-->

            </div>
            <div class="copyright">Copyright &copy; TiARY CINDERELLA PASSPORT. All rights reserved.</div>
        </div>
    </body>
</html>