<!DOCTYPE html>
<html>
<head>
    <#INCLUDE ../common/meta_common.php#>
    <title>ティアリーアプリ</title>
</head>
    <body style="background-color:#ebebeb;">
        <div class="wrapper">
            <#INCLUDE ../common/header.template#>
            <div style="height:3em;"></div>
            <div class="content-wrapper login-margin">
                <div class="announce-content">
                    <div class="announce-title">
                        <h1>気になるクーポンを<br />お気に入りに追加しよう!</h1>
                    </div>
                    <div class="header-content2">
                        <div class="bookmark-icon"><img src="img/star-unselected.png" alt="star"></div>
                        <div class="bookmark-highlight">
                            
                        </div>
                        <img src="img/afloat.jpg" alt="banner">
                        <div class="head-desc">
                            <h1><strong>【AFLOATで可愛くなる★特別プラン】カット</strong></h1>
                        </div>
                        <div class="head-footwrap clearfix">
                            <div class="head-footleft">
                                <p>有効期限
                                    <br>9月2日(水)~9/28(月)まで</p>
                            </div>
                            <div class="head-footright">
                                <img src="img/yen-icon.png" alt="icon" style="display:inline;">
                                <p style="display:inline;">6,300円 &#8594;<span style="color:red;font-weight:bold;"> 500円</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="orange-button">お気に入り機能を使ってみる</div>
            </div>
            <div class="copyright">Copyright &copy; TiARY CINDERELLA PASSPORT. All rights reserved.</div>
        </div>
    </body>
</html>