<!DOCTYPE html>
<html>

<head>
    <#INCLUDE ../common/meta_common.php#>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
/*BUTTON HOVER*/
            $('.orange-button').on('touchstart',function(){
                $(this).css({"background":"linear-gradient(#bca16b,#e3d2a8)"});
            });
            $('.orange-button').on('touchend',function(){
                $(this).removeAttr('style');
            });
        });
/*END OF BUTTON HOVER*/
    </script>
    <title>ティアリーアプリ</title>
</head>

    <body>
        <div class="wrapper">
<!--***HEADER***-->
        <#INCLUDE ../common/header.template#>
<!--/***HEADER***-->
            <div style="height:3em;"></div>
            <div class="title-bluebox">
                <strong>ユーザー情報</strong>
            </div>

            <div class="content-wrapper" style="padding-bottom:2px;">
                <table class="store-details">
                    <tr>
                        <td>お名前</td>
                        <td><#PRINT name01#></td>
                    </tr>
                    <tr>
                        <td>フリガナ</td>
                        <td><#PRINT name02#></td>
                    </tr>
                    <tr>
                        <td>生年月日</td>
                        <td><#PRINT birthday#></td>
                    </tr>
                    <tr>
                        <td>性別</td>
                        <td><#PRINT gender#></td>
                    </tr>
                    <tr>
                        <td>ニックネーム</td>
                        <td><#PRINT nickname#></td>
                    </tr>
                    <tr>
                        <td>電話番号</td>
                        <td><#PRINT telephone#></td>
                    </tr>
                </table>
                <div style="margin:20px auto;"></div>
                        <a href="#check_form" onClick="send('fmail_check.php')"><div class="orange-button">変更する</div></a>
            </div>
            <div class="copyright">Copyright &copy; TiARY CINDERELLA PASSPORT. All rights reserved </div>
        </div>
    </body>
</html>