<!DOCTYPE html>
<html>

<head>
    <#INCLUDE ../common/meta_common.php#>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <title>ティアリーアプリ</title>

<script type="text/javascript">
    $(document).ready(function(){

/*CODE FOR ON OFF EFFECT*/
        $(".push-active").on('click',function(){
            if($("#push-on").hasClass("push-active")){
                $(this).css({"transform":"translateX(-100%)"});
                /*PUT POST LOGIC HERE TURN FROM ON INTO OFF*/
            }else{
                $(this).css({"transform":"translateX(100%)"});
                /*PUT POST LOGIC HERE TURN FROM OFF INTO ON*/
            }
        });
/*END FOR ON OFF EFFECT*/

/*LINK HOVER*/
            $('.mypage-item').on('touchstart',function(){
                $(this).css({"background":"#e4e4e4"});
            });
            $('.mypage-item').on('touchend',function(){
                $(this).removeAttr('style');
            });
/*END OF LINK HOVER*/

    });
</script>

</head>

<body>
    <div class="wrapper">
<!--***HEADER***-->
        <#INCLUDE ../common/header.template#>
<!--/***HEADER***-->
        <div class="top-content-margin"></div>
        <div class="title-bluebox" style="text-align:left;">
            <strong>マイメニュー</strong>
        </div>
        <div class="my-menu-wrapper clearfix">
            <a href="favorites.php"><div class="menu-item"><img src="img/mypage-icon2.png" alt="icon"><p style="color:#72b3d8;">お気に入り</p></div></a>
            <a href="history.php"><div class="menu-item"><img src="img/mypage-icon3.png" alt="icon"><p style="color:#72b3d8;">クーポン履歴</p></div></a>
            <a href="member-update.php"><div class="menu-item"><img src="img/mypage-icon4.png" alt="icon"><p style="color:#72b3d8;font-size:10px;">ユーザー情報変更</p></div></a>
        </div>
        <div class="title-bluebox">
            <strong>ユーザー情報</strong>
        </div>
        <div class="content-wrapper">
            <table class="store-details">
                <tr>
                    <td>名前</td>
                    <td>南　ことり</td>
                </tr>
                <tr>
                    <td>アドレス</td>
                    <td>abcd@gmail.com</td>
                </tr>
                <tr>
                    <td>パスワード</td>
                    <td>・・・・・</td>
                </tr>
                <tr>
                    <td>生年月日</td>
                    <td>1989/10/27</td>
                </tr>
                <tr>
                    <td>電話番号</td>
                    <td>1234-5678-2545</td>
                </tr>
                <tr>
                    <td style="border-bottom:0px;">プッシュ通知</td>
                    <td style="border-bottom:0px;">
                        <div class="user-button">
                            <ul>
                                <!--class "push-active" depends on status of the database-->
                                <li id="push-off">OFF</li><li id="push-on" class="push-active">ON</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <!--期間-->
                <tr>
                    <td>無料期間</td>
                    <td>23日</td>
                </tr>
            </table>
        </div>
        <div class="title-bluebox">
            <strong>その他のメニュー</strong>
        </div>
        <div class="content-wrapper">
            <a href="#" class="mypage-item-a"><div class="mypage-item">
                    <p>お知らせ</p><img src="img/mypage-arrow.png" alt="arrow">
                </div></a><hr class="gray-line-full">
            <a href="#"><div class="mypage-item">
                    <p>お問い合せ</p><img src="img/mypage-arrow.png" alt="arrow">
                </div></a><hr class="gray-line-full">
            <a href="#"><div class="mypage-item">
                    <p>会社情報</p><img src="img/mypage-arrow.png" alt="arrow">
                </div></a><hr class="gray-line-full">
            <a href="#"><div class="mypage-item">
                    <p>利用規約</p><img src="img/mypage-arrow.png" alt="arrow">
                </div></a><hr class="gray-line-full">
            <a href="#"><div class="mypage-item">
                    <p>プライバシーポリシー</p><img src="img/mypage-arrow.png" alt="arrow">
                </div></a><hr class="gray-line-full">
                
            <a href="logout.php"><div class="logout"><img src="img/logout.png" alt="logout"><span>ログアウト</span></div></a>
        </div>

        <div class="big-margin"></div>
    </div>


<!--***FOOTER***-->
        
<!--/***FOOTER***-->


    </div>
    
<!--SCRIPTS-->

</body>

</html>
